@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
}


.popularsection {
    width: 90vw;
    min-height: 200px;
    margin: auto;
    overflow-x: auto;
    display: flex;  
}
.popularsection::-webkit-scrollbar {
    width: 0;
}
.favorite {
   width: 100vw;
   text-align: center;
   padding: 2rem 0;  
}
.favorite h2 {
    color: rgb(236, 179, 179);
}


.imgcontainer {
    width: 300px;
    overflow: hidden; 
    margin-right: 3rem;
}


/*VEGGIE COMPONENT*/
.veggiesection {
    width: 90vw;
    min-height: 200px;
    margin: auto;
    margin-bottom: 100px;
    overflow-x: auto;
    display: flex;
}

.veggiesection::-webkit-scrollbar {
    width: 0;
}

.veggietext {
    width: 100vw;
    text-align: center;
    padding: 2rem 0;  
}

.veggietext h2 {
    color: rgb(236, 179, 179);
}

.imgveggiescontainer {
    overflow: hidden; 
    margin-right: 3rem;
}
img {
    width: 100%;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
    transition: 500ms ease;
}
img:hover {
    transform: scale(1.2);
}

.text {
    color: rgb(214, 185, 185);
    margin-top: 1rem;
}
.text p {
    font-size: 1.2rem;
}

.veggiecard {
    width: 400px;
    overflow: hidden;
}
.veggiecard img {
    width: 100%;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 500ms ease;
    cursor:pointer;
}

.veggiecard img:hover {
    transform: scale(1.2);
}

